<div ng-controller = 'MainController'>
	<script>
		var personalApp = angular.module('personalApp', ['ngRoute', 'ui.materialize']);
		$(document).ready(function(){
   			$('.parallax').parallax();
   			$('.scrollspy').scrollSpy();
		});
		</script>
		<div class="parallax-container">
	    <div class="parallax">
	       <img  src="http://calinno.com/images/resource/parallax1.jpg">
	    </div>
	</div>
    <div class="row">
    <div class="col s12 m12 l12">
      <div id="introduction" class="section scrollspy">
        <p>In computer programming, initialization is the assignment of an initial value for a data object or variable. The manner in which initialization is performed depends on programming language, as well as type, storage class, etc., of an object to be initialized. Programming constructs which perform initialization are typically called initializers and initializer lists. Initialization is distinct from (and preceded by) declaration, although the two can sometimes be conflated in practice. The complement of initialization is finalization, which is primarily used for objects, but not variables.

		Initialization is done either by statically embedding the value at compile time, or else by assignment at run time. A section of code that performs such initialization is generally known as "initialization code" and may include other, one-time-only, functions such as opening files; in object-oriented programming, initialization code may be part of a constructor (class method) or an initializer (instance method). Setting a memory location to hexadecimal zeroes is also sometimes known as "clearing" and is often performed by an exclusive or instruction (both operands specifying the same variable), at machine code level, since it requires no additional memory access.</p>
      </div>
<div class="parallax-container">
	    <div class="parallax">
	       <img  src="http://calinno.com/images/resource/parallax1.jpg">
	    </div>
	</div>
      <div id="structure" class="section scrollspy">
        <p>In an essay, article, or book, an introduction (also known as a prolegomenon) is a beginning section which states the purpose and goals of the following writing. This is generally followed by the body and conclusion.

The introduction typically describes the scope of the document and gives the brief explanation or summary of the document. It may also explain certain elements that are important to the essay if explanations are not part of the main text. The readers can have an idea about the following text before they actually start reading it.

ln technical writing, the introduction typically includes one or more standard subsections: abstract or summary, preface, acknowledgments, and foreword. Alternatively, the section labeled introduction itself may be a brief section found side-by-side with abstract, foreword, etc. (rather than containing them). In this case the set of sections that come before the body of the book are known as the front matter. When the book is divided into numbered chapters, by convention the introduction and any other front-matter sections are unnumbered and precede chapter 1.

Keeping the concept of the introduction the same, different documents have different styles to introduce the written text. For example, the introduction of a Functional Specification consists of information that the whole document is yet to explain. If a Userguide is written, the introduction is about the product. In a report, the introduction gives a summary about the report contents.</p>
      </div>
<div class="parallax-container">
	    <div class="parallax">
	       <img  src="http://calinno.com/images/resource/parallax1.jpg">
	    </div>
	</div>
      <div id="initialization" class="section scrollspy">
        <p>Structure is an arrangement and organization of interrelated elements in a material object or system, or the object or system so organized.[1] Material structures include man-made objects such as buildings and machines and natural objects such as biological organisms, minerals and chemicals. Abstract structures include data structures in computer science and musical form. Types of structure include a hierarchy (a cascade of one-to-many relationships), a network featuring many-to-many links, or a lattice featuring connections between components that are neighbors in space </p>
      </div>
    </div>
    <div style = 'right: 0;' class=" navigation col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#structure">Structure</a></li>
        <li><a href="#initialization">Intialization</a></li>
      </ul>
    </div>
  </div>
	<div class="parallax-container">
	    <div class="parallax">
	       <img  src="http://calinno.com/images/resource/parallax1.jpg">
	    </div>
	</div>
</div>
