<div ng-controller = 'MainController'>
	<script>
		var personalApp = angular.module('personalApp', ['ngRoute', 'ui.materialize']);
		$(document).ready(function(){
   			$('.parallax').parallax();
   			$('.scrollspy').scrollSpy();
   			var options = [{selector: '.project', offset: 400, callback: function () {
   				Materialize.showStaggeredList('#Projects');
   				console.log('callback!')
   			}},
   			{selector: '#Experience', offset: 400, callback: function () {
   				Materialize.showStaggeredList('.resume');
   			}}];
   			Materialize.scrollFire(options);
   			//Controlling Scrolling WIP
   			var prevDiv = null;
			var current = document.getElementById('Home')
			var nextDiv = current.nextElementSibling;
   // 			$(function(){
			//     var lastScrollTop = 0, delta = 5;
			//     $(window).on('mousewheel', function (e){
			//        var st = $(this).scrollTop();
			       
			//        if(Math.abs(lastScrollTop - st) < delta){
			//        	console.log('oops');
			//        	return
			//        }
			//        if (st > lastScrollTop && nextDiv){
			//            $.scrollTo(nextDiv, 600);
			//            prevDiv = current;
			//            current = nextDiv;
			//            if(current.nextElementSibling){
			//            		nextDiv = current.nextElementSibling;
			//            } else {
			//            	nextDiv = null;
			//            }
			//            console.log(prevDiv);
			//        } 
			//        else if (prevDiv) {
			//        	$.scrollTo(prevDiv, 600);
			//        	nextDiv = current;
			//        	current = prevDiv;
			//        	if (current.previousElementSibling){
			//        	prevDiv = current.previousElementSibling;
			//        }else{
			//        	prevDiv = null;
			//        }
			//        	console.log(current);
			//        }

			//        lastScrollTop = st;
			//     });
			// });
		});
	</script>
	<div class = 'sidebar'>
		<div class = 'row'>
			<div  class="col hide-on-small-only m3 l2">
				<ul class="section table-of-contents">
					<li><a href="#Home">Home</a></li>
					<li><a href="#Projects">Projects</a></li>
					<li><a href="#Experience">Experience</a></li>
					<li><a href="#Contact">Contact</a></li>
					<li><a target="_blank" href = '/img/gratcliff_resume.pdf'>Resume</a></li>
				</ul>
				<p style = 'position: absolute; top: 98.7%; color: white; font-size: 8px;'> © Gabriel Ratcliff 2016 </p>
		    </div>
		</div>
		<div class = 'linkedin' ng-click = 'linkedIn()'>
			<a target = "_blank" href = 'https://www.linkedin.com/in/gabe-ratcliff-08564279'>
				<img src = '/img/linkedin.png'>
			</a>
		</div>
		<div class = 'github' ng-click = 'github()'>
			<a target = "_blank" href = 'https://github.com/gratcliff'>
				<img src = '/img/github.png'>
			</a>
		</div>
	</div>
	<div class = 'main_content'>
	    <div class="row">
	    	<div id="Home" class="section scrollspy">
	   			<h1> Gabriel Ratcliff </h1>
	   			<p> I'm an aspiring full stack developer versed in <span class = 'gold'>MongoDB</span>, <span class = 'gold'>NodeJS</span>, <span class = 'gold'>AngularJS</span> and <span class = 'gold'>Python</span>. My professional background includes Management Consulting and Psychology Research. </p>
		  	</div>
			<div id="Projects" class="section scrollspy">
				<ul>
					<li class = 'project row'>
						<img class = 'pic col s3 m3 l3 push-s1 push-m1 push-l1' src = '/img/roomies.png'> 
							<p id='clicked' class = 'col s3 m3 l3 push-s1 push m1 push-l1'>Show app</p>
						</img>
						<h3 class = 'col s7 m7 l7 push-s1 push-m1 push-l1 '>Roomies: Web and iOS.</h3>
						<p class = 'col s7 m7 l7 push-s1 push-m1 push-l1'>Roomies is an app that uses iOS and Angular as simultaeneous front ends, sharing a <span class = 'gold'>NodeJS</span>/<span class = 'gold'>ExpressJS</span> backend. The app allows users in groups, particularly roommates, to designate tasks and completion times for other users in the group, streamlining the process of assigning responsbilities to individuals. The app utilizes Socket.io to seemlessly update information for all users. It also features as chat system for users in the group.</p>
					</li>
					<li class = 'project row'>
						<a target = "_blank" href = 'http://www.gaberatcliff.com/#/'>
							<img class = 'pic  col s3 m3 l3 push-s1 push-m1 push-l1' src = '/img/sequencer_tab.png'>
							<p id='clicked' class = 'col s3 m3 l3 push-s1 push m1 push-l1'>Show app</p>
						</a>
						<h3 class = 'col s7 m7 l7 push-s1 push-m1 push-l1'>Angular Drum Sequencer.</h3>
						<p class = 'col s7 m7 l7 push-s1 push-m1 push-l1'>A javascript drum sequencer built primarily with <span class = 'gold'>Angular</span>, run on a node server. The goal of this project was to create an intuitive, visually appealing web sequencer. The web audio library HowlerJs, along with Angular's front end controllers allow easy generation of sounds that can be manipulated by users. Everything is tied together with visual cues made with MaterializeCSS.</p>
					</li>
					<li class = 'project row '>
						<img class = 'pic  col s3 m3 l3 push-s1 push-m1 push-l1' src = '/img/foodies.png'>
						<p id='clicked' class = 'col s3 m3 l3 push-s1 push m1 push-l1'>Show app</p>
						<h3 class = 'col s7 m7 l7 push-s1 push-m1 push-l1'>Foodies: Targeted Recipe Builder.</h3>
						<p class = 'col s7 m7 l7 push-s1 push-m1 push-l1'>Foodies is an app built in <span class = 'gold'>Python</span> using an MVC called Pylot that allows database interaction with mySQL. The app uses the Food2Fork recipe API. Foodies allows users to create a profile where they can pick food preferences. It then shows data related to those preferences in a constructive way.</p>
					</li>
				</ul>
			</div>
			<div id="Experience" class="section scrollspy">
<!-- 				<p class = 'special'>e</p> -->
				<ul class = 'resume'>
					<li><div class = 'resumeItem'>
						<h3>Coding Dojo</h3>
						<p>Attended a programming bootcamp at Coding Dojo Silicon Valley. Coding Dojo’s goal is to teach its students how to pick up new programming languages easily. In attendance, I began by learning <span class = 'gold'>Python</span>, <span class = 'gold'>MySQL</span>, <span class = 'gold'>Flask</span>, and had experience with and MVC they developed. Next, I learned MEAN: <span class = 'gold'>MongoDB</span>, <span class = 'gold'>ExpressJS</span>, <span class = 'gold'>AngularJS</span>, and <span class = 'gold'>NodeJS</span>. Finally, I learned iOS languages such as <span class = 'gold'>Swift</span> and use of <span class = 'gold'>XCode</span>. Coming out of this program, I’m confident in my current programming skills and my ability to pick up new ones. </p>
					</div></li>
					<li><div class = 'resumeItem'>
						<h3>Ratcliff Consultants</h3>
						<p>I worked as a training designer at Ratcliff Consultants. My responsibilities included both adapting previous training materials and creating new ones to the specifications of clients. Producing materials involved learning clients’ systems and synthesizing main ideas. In creating materials, I worked to keep clients’ employees’ motivations in mind, creating the best resources for employees to learn and retain information. I developed in <span class = 'gold'>Adobe Captivate</span> and <span class = 'gold'>Photoshop</span>. Additionally, I create and edit wiki portals, as well as designed content for websites. </p>
					</div></li>
					<li><div class = 'resumeItem'>
						<h3>Lewis & Clark College</h3>
						<p>Previous to working as a training designer, I was a research assistant in the Department of Psychology at Lewis and Clark. During my tenure, I contributed to the development and implementation of research regarding intergroup relations. This began as tailoring a proposal to the IRB, and then progressed into developing and adapting methodology. The research culminated in analyzing our data with <span class = 'gold'>SPSS</span>, drawing conclusions, and presenting findings at the Western Psychological Association Conference in 2014. </p>
					</div></li>
					<li><div class = 'resumeItem'>
						<h3>Release UK</h3>
						<p>I worked as an intern at Release in London in spring of 2013. My responsibilities included curating their social media presence through <span class = 'gold'>HootSuite</span>, writing articles for their web portal, and creating infographics through <span class = 'gold'>Adobe Photoshop</span> related to their mission. </p>
					</div></li>
				</ul>
			</div>
			<div id="Contact" class="section scrollspy">
				<div class="container">
				    <div class="row">
				        <div class="col m12 s12">
				            <h1>Contact Me</h1>
				            <div class="row">
				                <form class="col s12">
				                    <div class="row">
				                        <div class="input-field col m6 s12">
				                            <input id="first_name" type="text" required ng-model = 'requestEmail.name'>
				                            <label for="first_name">Full Name</label>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div class="input-field col m6 s12">
				                            <input id="email" type="email"  required ng-model = 'requestEmail.email'>
				                            <label for="email">Email</label>
				                        </div>
				                        <div class="input-field col m6 s12">
				                            <input id="company" type="text" ng-model = 'requestEmail.company'>
				                            <label for="company">Company</label>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div class="input-field col s12">
				                          <textarea id="message" class="materialize-textarea" ng-model= 'requestEmail.content' required></textarea>
				                          <label for="message">Message</label>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div class="col m12">
				                         <p class="right-align"><button class="btn btn-large waves-effect waves-red" ng-click = 'submitForm(requestEmail)'>Send Message</button></p>
				                        </div>
				                    </div>
				                </form>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
